.icon-nav i {
  margin: 5px;
}

.example-card {
  display: inline-block;
  margin: 5px;
  width: 260px;
  height: auto;
}
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 2px !important;
}

mat-card-header {
  margin-top: 10px;
}

/deep/.material-icons {
  cursor:pointer;
}

mat-card-actions button {
  margin: 0;
}

.submit-button button {
  display: block;
  width: 100%;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.form-element {
  padding: 5px 0;
}


.form-element mat-form-field {
  width:100% !important;
}

mat-panel-description, mat-icon {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}
